<!DOCTYPE html>
<html>
	<head>
		<title>Contrast Coefficients</title>
		<link rel="stylesheet" type="text/css"
			href="{{ url_for('static',filename='shared.css') }}"/>
		<link rel="stylesheet" type="text/css"
			href="{{ url_for('static',filename='cc.css') }}"/>
	</head>
	<body>
		{% include 'navbar.html' %}
		<div id="content">
			<div id="err">{{ err }}</div>
			<div id="question">
				How different do the following samples appear?<br/>
				These are generated	randomly and continuously, you may stop at any time.
			</div>

			<form action="" method="post">
				<datalist id="ord">
					<option value="0" label="Identical"></option>
					<option value="10" label="Very Different"></option>
				</datalist>

				<div class="samples">
					<div class="sample_1 sample" style="{{ left_inline }}" >
						{{ lorem_ipsum }}
					</div>
					<div class="sample_2 sample" style="{{ right_inline }}" >
						{{ lorem_ipsum }}
					</div>
				</div>
				<input type="hidden" name="left_inline" value="{{ left_inline }}"/>
				<input type="hidden" name="right_inline" value="{{ right_inline }}"/>
				<label class="extremes">
					<span class="left">Identical</span>
				  <input type="range"
					       list="ord"
								 name="inlines_sim"
								 min="0"
								 max="10"
								 value="5"/>
					<span class="right">As Different As Possible</span>
				</label>

				<div class="samples">
					<div class="sample_1 sample" style="{{ left_align }}" >
						{{ lorem_ipsum }}
					</div>
					<div class="sample_2 sample" style="{{ right_align }}" >
						{{ lorem_ipsum }}
					</div>
				</div>
				<input type="hidden" name="left_align" value="{{ left_align }}"/>
				<input type="hidden" name="right_align" value="{{ right_align }}"/>
				<label class="extremes">
					<span class="left">Identical</span>
				  <input type="range"
					       list="ord"
								 name="aligns_sim"
								 min="0"
								 max="10"
								 value="5"/>
					<span class="right">As Different As Possible</span>
				</label>

				<div class="samples">
					<div class="sample_1 sample" style="{{ left_font }}" >
						{{ lorem_ipsum }}
					</div>
					<div class="sample_2 sample" style="{{ right_font }}" >
						{{ lorem_ipsum }}
					</div>
				</div>
				<input type="hidden" name="left_font" value="{{ left_font }}"/>
				<input type="hidden" name="right_font" value="{{ right_font }}"/>
				<label class="extremes">
					<span class="left">Identical</span>
				  <input type="range"
					       list="ord"
								 name="fonts_sim"
								 min="0"
								 max="10"
								 value="5"/>
					<span class="right">As Different As Possible</span>
				</label>
				<input type="submit"/>
			</form>
		</div>
	</body>
</html>
