<!DOCTYPE html>
<html>
	<head>
		<title>OMSB9 Final Project</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='shared.css') }}"/>
	</head>
	<body>
		{% include 'navbar.html' %}
		<div id="content">
		<h1>
			The effect of header-body contrast on digital
			document navigability
		</h1>

		<p><i>IN SUMMARY:</i> &emsp; The goal of these surveys is to determine
		whether, in a digital document, increased contrast between header text and
		body text aids the navigability of a document. This consists of two parts,
		measuring contrast (which can be contributed to in the 'contrast
		coefficients' in section. To measure navigability, the time it takes for a
		section to be located is measured.</p>

		<h2>Using this Website</h2>
		<p>
		To contribute data, the sections <i>CONTRAST COEFFICIENTS</i>
		and <i>NAVAGIBILITY</i> linked above will ask you questions in
		an attempt to guage, as the title says, the effect of
		header-body contrast on digital document navigability. The
		<i>RESULTS</i> section displays all the statistics associated
		with the collected data, and computes statistical significance.
		Its results are updated every six hours. This is not currently complete,
		don't use this.
		<p></p>
		</div>
	</body>
</html>
