<ul id="navbar">
	<li>
		<a class="aggregation"
		   href="/">
			ABOUT
		</a>
	</li>
	<li>
		<a class="collection"
		   href="/contrast_coefficients">
			CONTRAST COEFFICIENTS
		</a>
	</li>
	<li>
		<a class="collection"
		   href="/time_contrast">
			MEASURING NAVAGIBILITY
		</a>
	</li>
	<li>
		<a class="aggregation"
		   href="/aggregation">
			RESULTS
		</a>
	</li>
</ul>
