<!DOCTYPE html>
<html>
	<head>
		<title>OMSB9 Final Project</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='shared.css') }}"/>
	</head>
	<body>
		{% include 'navbar.html' %}
		<div id="content">
			<h1>Not Available Yet</h1>
			<p>
        I'm still working on writing the analysis and aggregation code. Results
				will be available soon.
			</p>
		</div>
	</body>
</html>
