<!DOCTYPE html>
<html>
	<head>
		<title>OMSB9 Final Project</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='shared.css') }}"/>
	</head>
	<body>
		{% include 'navbar.html' %}
		<div id="content" style="{{ body_style }}">
			{% for section in sections %}
				{% if section.target == True %}
				<a id="target">
				{% endif %}
					<h1 style=" {{ header_style }} ">{{ section.title }}</h1>
				{% if section.target == True %}
				</a>
				{% endif %}

				{% for paragraph in section.body %}
				  <p>{{ paragraph }}</p>
				{% endfor %}
			{% endfor %}
		</div>

		<script src="{{ url_for('static', filename='tc_measure.js') }}"></script>
		<form class="hidden" method="post" action="/tc_process" id="time">
			<!-- ms contains the number of milleseconds passed between load and find -->
			<input type='hidden' name='ms'/>
			<input type='hidden' name='header' value='{{ header_style }}'/>
			<input type='hidden' name='body' value='{{ body_style }}'/>
			<input type='hidden' name='header_target' value='{{header_target}}'/>
			<input type='submit'/>
		</form>
	</body>
</html>
