<!DOCTYPE html>
<html>
	<head>
		<title>OMSB9 Final Project</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='shared.css') }}"/>
		<link rel="stylesheet" href="{{ url_for('static', filename='tc_summary.css') }}"/>
	</head>
	<body>
		{% include 'navbar.html' %}
		<div id="content">
		<h1>
			Measuring Navigability
		</h1>

		{% if err %}
		<div class="err">{{ err }}</div>
		{% endif %}

		<p>
    When you click begin, random combinations of header and body document text
		styles will be generated. You must look for and click on the section
		<wbr/><b>{{header}}</b><wbr/> in the text.

		<form method="post" action="tc_measure">
			<input type="hidden" name="header_target" value="{{header}}"/>
			<input type="submit" value="Start"/>
		</form>
		</p>
		</div>
	</body>
</html>
