div.sample {
	display: inline-block;
	width: 40%;
}

div.sample_1 {
	padding-right: 9.5%;
}

div.sample_2 {
	padding-left: 9.5%;
}

form {
	width: 100%;
	text-align: center;
}

input[type='range'] {
	padding-top: 1vh;
	padding-bottom: 1vh;
	width: 20%;
	display: inline-block;
	flex-basis: 100%;
}

label.extremes {
	display: flex;
	flex: auto;
	align-items: center;
	text-align: center;
	color: #222;
	padding-bottom: 5%;
}

label span.left {
	text-align: left;
	padding-right: 5%;
}

label span.right {
	text-align: right;
	padding-left: 5%;
}

div#question {
	padding-bottom: 5%;
}
