body {
	background-color: #efefef;
	font-family: serif;
}

ul#navbar {
	padding: 0;
	margin: 0;
	width: 100%;
	text-align: center;
}

ul#navbar li {
	padding: 0;
	margin: 0;
	display: inline-block;
	width: 20%;
	text-align: center;
}

ul#navbar li a {
	text-decoration: none;
	color: #222;
}

ul#navbar li a:hover {
	text-decoration: underline;
}

ul#navbar li a.aggregation {
	color: #622;
}

div#content {
	position: relative;
	width: 80%;
	left: 10%;
	padding-top: 5vh;
}

div#content h1 {
	font-style: bold;
	font-size: 1.4em;

	text-align: center;
}

div#content h2 {
	font-style: bold;
	font-size: 1em;
}

div#question {
	font-weight: bold;
	text-align: center;
	font-size: 1.1em;
}

div.err {
	color: #a12222;
	width: 100%;
	text-align: center;
}

.hidden {
	display: none;
}
