form {
	width: 100%;
	text-align: center;
}

input[type='submit'] {
	width: 100%;
	font: inherit;
	font-size: inherit;
	border: none;
	background: none;
	text-decoration: underline;
}

input[type='submit']:hover {
	cursor: pointer;
}
